/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
@font-face {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/paytone-one-v16-latin-regular.woff2") format("woff2"), url("../fonts/paytone-one-v16-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Segoe-UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  font-display: 700;
  src: url("../fonts/Segoe-UI-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pavanam";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pavanam-v9-latin-regular.woff2") format("woff2"), url("../fonts/pavanam-v9-latin-regular.woff") format("woff");
}

.navbar__nav-list, .footer-nav__footer-list, .hero__hero-socials, .about__about-images-list, .partners__partners-top, .partners__partners-bottom, .footer__socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* GENERAL STYLES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-bg {
  position: relative;
  height: 1669px;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-top-bg {
  width: 994px;
  position: absolute;
  left: calc(50% - 497px);
  top: -600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 42, 39, 0.4)), color-stop(33.85%, rgba(45, 40, 40, 0.85)), color-stop(49.48%, #2D2828), color-stop(68.75%, #2D2828), color-stop(82.29%, #2D2828), to(#2D2828));
  background-image: linear-gradient(180deg, rgba(50, 42, 39, 0.4) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}

/* HEADER */
.header {
  height: 788px;
  background-image: url("../../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 51px;
}

.header__header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo-link {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.logo-link__logo-img {
  display: block;
  width: 143px;
  height: 59px;
}

.logo-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar {
  margin-left: 70px;
}

.navbar__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__nav-item {
  margin-right: 30px;
}

.navbar__nav-item::after {
  display: block;
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  content: "";
  margin: auto;
  margin-top: 3px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.navbar__nav-item:hover::after {
  width: 100%;
}

.navbar__nav-link {
  color: #ffffff;
  font-family: "Paytone One", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-left: 149px;
}

.footer-nav__footer-box {
  margin-right: 84px;
}

.footer-nav__footer-title {
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 22px;
}

.footer-nav__footer-item {
  margin-bottom: 11px;
}

.footer-nav__footer-link {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer-nav__footer-item:hover .footer-nav__footer-link {
  color: #FF1640;
}

/* HERO  */
.hero {
  background-image: url("../../img/cup.png");
  background-repeat: no-repeat;
  background-position: calc(100% + 15px) calc(100% - 100px);
}

.hero .container {
  padding: 0;
}

.hero__hero-content {
  padding-top: 76px;
  padding-bottom: 79px;
  padding-left: 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hero__hero-heading {
  font-size: 64px;
  line-height: 89px;
  color: #ffffff;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  margin: 0;
}

.hero__hero-subtitle {
  font-family: "Paytone One", sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.hero__hero-text {
  max-width: 432px;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}

.hero__hero-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-right: 101px;
  padding-bottom: 25px;
  padding-left: 67px;
}

.hero-form__form-email {
  font-family: "Pavanam";
  color: rgba(255, 255, 255, 0.4);
  width: 291px;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  padding: 9px 35px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.hero-form__form-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.hero-form__form-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.hero-form__form-email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.hero-form__form-email::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.hero-form__form-btn {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 18px;
  padding: 9px 20px;
  background-color: transparent;
  border: 2px solid #FF1640;
  border-radius: 50px;
  margin-left: 20px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.hero-form__form-btn:hover {
  color: #ffffff;
  background-color: #FF1640;
}

/* ABOUT US */
.about {
  padding-right: 85px;
  padding-left: 67px;
  /* Rounded sliders */
}

.about .container {
  padding: 0;
}

.about__about-images-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 61px;
}

.about__about-image {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.25);
}

.about__about-image:nth-child(2) {
  position: absolute;
  left: calc(50% - 146px);
  bottom: 71px;
}

.about__marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 61px;
}

.about__marketing-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Paytone One", sans-serif;
  font-size: 25px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.about__marketing-title::after {
  display: block;
  width: 267px;
  height: 21px;
  background-image: url("../../img/sms.png");
  background-repeat: no-repeat;
  margin-left: 6px;
  content: "";
}

.about__btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#864A23), to(#6A3A1B));
  background-image: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
  border: none;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 16px;
  margin-left: 7px;
}

.about__btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#864A23), to(#6A3A1B));
  background-image: linear-gradient(0deg, #864A23 0%, #6A3A1B 100%);
}

.about .btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}

.about .btn-text::before {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../../img/write.png);
  content: "";
  margin-right: 7px;
}

.about__about-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
}

.about__notifications {
  width: 450px;
}

.about__notification ~ .about__notification {
  margin-top: 90px;
}

.about__notification-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.about__notification-top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
}

.about__notification-top-text::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #FF1640;
  margin-right: 9px;
  border-radius: 50%;
  content: "1";
}

.about__notification-top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  color: #2D2828;
  line-height: 24px;
  border: none;
  border-radius: 50px;
  width: 131px;
  padding: 5px 0;
  background-image: url("../../img/notification.png");
}

.about__notification-top-btn::before {
  display: block;
  width: 28px;
  height: 27px;
  background-image: url("../../img/round.png");
  margin-right: 7px;
  content: "";
}

.about__notification-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../../img/notification.png");
  background-repeat: no-repeat;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 23px;
  padding-left: 17px;
}

.about__notification-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__person {
  margin-left: 12px;
}

.about__name {
  font-size: 18px;
  color: #2D2828;
  line-height: 25px;
  font-weight: 700;
  margin: 0;
}

.about__time {
  font-size: 18px;
  color: rgba(46, 41, 41, 0.698);
  line-height: 25px;
  margin: 0;
}

.about__notification-bottom-right {
  max-width: 251px;
}

.about__right-title {
  font-size: 22px;
  color: #2D2828;
  line-height: 33px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 11px;
}

.about__right-text {
  font-size: 14px;
  line-height: 21px;
  color: #2D2828;
  margin: 0;
}

.about__notification-text {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
}

.about__notification-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  color: #2D2828;
  line-height: 24px;
  border: none;
  border-radius: 50px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 16px;
  background-image: url("../../img/notification.png");
}

.about__notification-toggle-text {
  font-weight: 600;
  color: #2D2828;
  margin-right: 9px;
}

.about__notification-switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 29px;
}

.about__notification-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.about__notification-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.about__notification-slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.about__notification-checkbox:checked + .about__notification-slider {
  background-color: #FF1640;
}

.about__notification-checkbox:focus + .about__notification-slider {
  -webkit-box-shadow: 0 0 1px #FF1640;
          box-shadow: 0 0 1px #FF1640;
}

.about__notification-checkbox:checked + .about__notification-slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.about__notification-slider.round {
  border-radius: 34px;
}

.about__notification-slider .round:before {
  border-radius: 50%;
}

.about__about-content {
  max-width: 315px;
}

.about__about-content-item ~ .about__about-content-item {
  margin-top: 121px;
}

.about__about-content-heading {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #ffffff;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 19px;
}

.about__about-content-text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.7;
  margin: 0;
}

/* PARTNERS */
.partners {
  max-width: 842px;
  position: relative;
  top: 1156px;
  margin: 0 auto;
}

.partners__partners-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 46px;
}

.partners__partners-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 21px;
}

.partners__item-img {
  border-radius: 50%;
}

.partners__item-link {
  margin-left: 16px;
}

.partners__item-text {
  max-width: 252px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

/* FOOTER */
.footer {
  position: relative;
  background-image: url("../../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 68px;
  padding-bottom: 111px;
}

.footer::before {
  position: absolute;
  left: calc(50% - 80px);
  top: -80px;
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-image: url("../../img/footer-bg.jpg");
  background-position: center;
  content: "";
}

.footer__footer-inner {
  position: relative;
  text-align: center;
}

.footer__footer-inner::before {
  position: absolute;
  left: calc(50% - 58.5px);
  top: -127px;
  display: block;
  width: 117px;
  height: 117px;
  background-color: #FF1640;
  border-radius: 50%;
  content: "";
}

.footer__footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 108px;
}

.footer__footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__footer-right {
  text-align: end;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
}

.footer__socials-item {
  margin-left: 31px;
}

.footer__footer-terms {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 11px;
}

.footer__footer-text {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin: 0;
}

.footer__footer-btn {
  font-family: "Paytone One", sans-serif;
  font-size: 28px;
  line-height: 39px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 22px;
  padding-left: 20px;
  background-color: #ffffff;
  border: none;
}

.footer__footer-btn::after {
  display: inline-block;
  width: 24px;
  height: 22px;
  background-image: url("../../img/smile.png");
  content: "";
}
