/* GENERAL STYLES */
*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-bg{
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-top-bg{
  position: relative;
  bottom: 597px;
  max-width: 994px;
  background-image: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;

}