$white-color: #ffffff;
$black-color: #000000;
$dark-brown: #2D2828;
$red-color:#FF1640;

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-big: 22px;

$font-paytone-one:"Paytone One", sans-serif;
$font-pavanam: "Pavanam";
