.hero-form{
  &__form-email{
    font-family: $font-pavanam;
    color: rgba(255, 255, 255, 0.4);
    width: 291px;
    font-size: $font-size-small;
    line-height: 18px;
    background-color: transparent;
    padding: 9px 35px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
  }
  &__form-email::placeholder{
    color: rgba(255, 255, 255, 0.4);
  }
  &__form-btn{
    font-size: $font-size-small;
    color: rgba(255, 255, 255, 0.4);
    line-height: 18px;
    padding: 9px 20px;
    background-color: transparent;
    border: 2px solid #FF1640;
    border-radius: 50px;
    margin-left: 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
    &:hover{
      color: $white-color;
      background-color: #FF1640;
    }
  }
}