/* HERO  */

.hero{
  background-image: url("../../img/cup.png");
  background-repeat: no-repeat;
  background-position: calc(100% + 15px) calc(100% - 100px);
  &__hero-content{
    width: 994px;
    padding-top: 76px;
    padding-bottom: 79px;
    padding-left: 65px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  &__hero-heading{
    font-size: 64px;
    line-height: 89px;
    color: $white-color;
    font-family: $font-paytone-one;
    font-weight: 400;
    margin: 0;
  }
  &__hero-subtitle{
    font-family: $font-paytone-one;
    font-size: 20px;
    color: $white-color;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
  }
  &__hero-text{
    max-width: 432px;
    font-size: $font-size-medium;
    line-height: 27px;
    margin: 0;
    color: $white-color;
    margin: 0;
    margin-bottom: 25px;
  }
  &__hero-socials{
    @include flex(center, space-between);
    @extend %list-no-style;
    padding-top: 25px;
    padding-right: 101px;
    padding-bottom: 25px;
    padding-left: 67px;
  }
}